:root {

   --md-sys-state-hover-state-layer-opacity: 0.08;
   --md-sys-state-focus-state-layer-opacity: 0.1;
   --md-sys-state-pressed-state-layer-opacity: 0.17;

  /* =========================
     SYSTEM COLORS (LIGHT)
     ========================= */

  --md-sys-color-primary: #515B92;
  --md-sys-color-surface-tint: #515B92;
  --md-sys-color-on-primary: #FFFFFF;
  --md-sys-color-primary-container: #DEE1FF;
  --md-sys-color-on-primary-container: #394379;

  --md-sys-color-secondary: #5A5D72;
  --md-sys-color-on-secondary: #FFFFFF;
  --md-sys-color-secondary-container: #DFE1F9;
  --md-sys-color-on-secondary-container: #434659;

  --md-sys-color-tertiary: #76546D;
  --md-sys-color-on-tertiary: #FFFFFF;
  --md-sys-color-tertiary-container: #FFD7F2;
  --md-sys-color-on-tertiary-container: #5D3C55;

  --md-sys-color-error: #BA1A1A;
  --md-sys-color-on-error: #FFFFFF;
  --md-sys-color-error-container: #FFDAD6;
  --md-sys-color-on-error-container: #93000A;

  --md-sys-color-background: #FBF8FF;
  --md-sys-color-on-background: #1B1B21;

  --md-sys-color-surface: #FBF8FF;
  --md-sys-color-on-surface: #1B1B21;

  --md-sys-color-surface-variant: #E3E1EC;
  --md-sys-color-on-surface-variant: #46464F;

  --md-sys-color-outline: #767680;
  --md-sys-color-outline-variant: #C6C5D0;

  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;

  --md-sys-color-inverse-surface: #303036;
  --md-sys-color-inverse-on-surface: #F2F0F7;
  --md-sys-color-inverse-primary: #BAC3FF;

  --md-sys-color-primary-fixed: #DEE1FF;
  --md-sys-color-on-primary-fixed: #0A164B;
  --md-sys-color-primary-fixed-dim: #BAC3FF;
  --md-sys-color-on-primary-fixed-variant: #394379;

  --md-sys-color-secondary-fixed: #DFE1F9;
  --md-sys-color-on-secondary-fixed: #171A2C;
  --md-sys-color-secondary-fixed-dim: #C3C5DD;
  --md-sys-color-on-secondary-fixed-variant: #434659;

  --md-sys-color-tertiary-fixed: #FFD7F2;
  --md-sys-color-on-tertiary-fixed: #2D1228;
  --md-sys-color-tertiary-fixed-dim: #E5BAD8;
  --md-sys-color-on-tertiary-fixed-variant: #5D3C55;

  --md-sys-color-surface-dim: #DBD9E0;
  --md-sys-color-surface-bright: #FBF8FF;

  --md-sys-color-surface-container-lowest: #FFFFFF;
  --md-sys-color-surface-container-low: #F5F2FA;
  --md-sys-color-surface-container: #EFEDF4;
  --md-sys-color-surface-container-high: #E9E7EF;
  --md-sys-color-surface-container-highest: #E3E1E9;


  /* =========================
     PRIMARY PALETTE
     ========================= */

  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #00093F;
  --md-ref-palette-primary10: #001159;
  --md-ref-palette-primary15: #001973;
  --md-ref-palette-primary20: #00208D;
  --md-ref-palette-primary25: #0029A9;
  --md-ref-palette-primary30: #0031C5;
  --md-ref-palette-primary35: #183FD5;
  --md-ref-palette-primary40: #2C4DE1;
  --md-ref-palette-primary50: #4A69FB;
  --md-ref-palette-primary60: #7087FF;
  --md-ref-palette-primary70: #95A6FF;
  --md-ref-palette-primary80: #BAC3FF;
  --md-ref-palette-primary90: #DEE1FF;
  --md-ref-palette-primary95: #F0EFFF;
  --md-ref-palette-primary98: #FBF8FF;
  --md-ref-palette-primary99: #FEFBFF;
  --md-ref-palette-primary100: #FFFFFF;


  /* =========================
     SECONDARY PALETTE
     ========================= */

  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #080E2B;
  --md-ref-palette-secondary10: #141937;
  --md-ref-palette-secondary15: #1E2441;
  --md-ref-palette-secondary20: #292E4D;
  --md-ref-palette-secondary25: #343958;
  --md-ref-palette-secondary30: #3F4564;
  --md-ref-palette-secondary35: #4B5071;
  --md-ref-palette-secondary40: #575C7D;
  --md-ref-palette-secondary50: #707597;
  --md-ref-palette-secondary60: #8A8FB2;
  --md-ref-palette-secondary70: #A4A9CE;
  --md-ref-palette-secondary80: #BFC4EA;
  --md-ref-palette-secondary90: #DEE1FF;
  --md-ref-palette-secondary95: #F0EFFF;
  --md-ref-palette-secondary98: #FBF8FF;
  --md-ref-palette-secondary99: #FEFBFF;
  --md-ref-palette-secondary100: #FFFFFF;


  /* =========================
     TERTIARY PALETTE
     ========================= */

  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #270023;
  --md-ref-palette-tertiary10: #34082F;
  --md-ref-palette-tertiary15: #41143A;
  --md-ref-palette-tertiary20: #4D1F46;
  --md-ref-palette-tertiary25: #5A2A51;
  --md-ref-palette-tertiary30: #67355D;
  --md-ref-palette-tertiary35: #74416A;
  --md-ref-palette-tertiary40: #814D76;
  --md-ref-palette-tertiary50: #9D6590;
  --md-ref-palette-tertiary60: #B97EAB;
  --md-ref-palette-tertiary70: #D698C6;
  --md-ref-palette-tertiary80: #F3B2E2;
  --md-ref-palette-tertiary90: #FFD7F2;
  --md-ref-palette-tertiary95: #FFEBF6;
  --md-ref-palette-tertiary98: #FFF7F9;
  --md-ref-palette-tertiary99: #FFFBFF;
  --md-ref-palette-tertiary100: #FFFFFF;


  /* =========================
     NEUTRAL PALETTE
     ========================= */

  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #101114;
  --md-ref-palette-neutral10: #1B1B1F;
  --md-ref-palette-neutral15: #252529;
  --md-ref-palette-neutral20: #303034;
  --md-ref-palette-neutral25: #3B3B3F;
  --md-ref-palette-neutral30: #47464A;
  --md-ref-palette-neutral35: #535256;
  --md-ref-palette-neutral40: #5F5E62;
  --md-ref-palette-neutral50: #78767A;
  --md-ref-palette-neutral60: #919094;
  --md-ref-palette-neutral70: #ACAAAF;
  --md-ref-palette-neutral80: #C8C5CA;
  --md-ref-palette-neutral90: #E4E1E6;
  --md-ref-palette-neutral95: #F3F0F4;
  --md-ref-palette-neutral98: #FBF8FD;
  --md-ref-palette-neutral99: #FEFBFF;
  --md-ref-palette-neutral100: #FFFFFF;


  /* =========================
     NEUTRAL VARIANT PALETTE
     ========================= */

  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0F1018;
  --md-ref-palette-neutral-variant10: #1A1B23;
  --md-ref-palette-neutral-variant15: #24252D;
  --md-ref-palette-neutral-variant20: #2F3038;
  --md-ref-palette-neutral-variant25: #3A3B43;
  --md-ref-palette-neutral-variant30: #46464F;
  --md-ref-palette-neutral-variant35: #51525B;
  --md-ref-palette-neutral-variant40: #5D5E67;
  --md-ref-palette-neutral-variant50: #767680;
  --md-ref-palette-neutral-variant60: #90909A;
  --md-ref-palette-neutral-variant70: #ABAAB4;
  --md-ref-palette-neutral-variant80: #C6C5D0;
  --md-ref-palette-neutral-variant90: #E3E1EC;
  --md-ref-palette-neutral-variant95: #F1EFFA;
  --md-ref-palette-neutral-variant98: #FBF8FF;
  --md-ref-palette-neutral-variant99: #FEFBFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;

}

[data-theme="dark"] {

  /* =========================
     DARK TOKENS
     ========================= */

  --md-sys-color-primary: #BAC3FF;
  --md-sys-color-surface-tint: #BAC3FF;
  --md-sys-color-on-primary: #222C61;
  --md-sys-color-primary-container: #394379;
  --md-sys-color-on-primary-container: #DEE1FF;

  --md-sys-color-secondary: #C3C5DD;
  --md-sys-color-on-secondary: #2C2F42;
  --md-sys-color-secondary-container: #434659;
  --md-sys-color-on-secondary-container: #DFE1F9;

  --md-sys-color-tertiary: #E5BAD8;
  --md-sys-color-on-tertiary: #44263E;
  --md-sys-color-tertiary-container: #5D3C55;
  --md-sys-color-on-tertiary-container: #FFD7F2;

  --md-sys-color-error: #FFB4AB;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000A;
  --md-sys-color-on-error-container: #FFDAD6;

  --md-sys-color-background: #121318;
  --md-sys-color-on-background: #E3E1E9;

  --md-sys-color-surface: #121318;
  --md-sys-color-on-surface: #E3E1E9;

  --md-sys-color-surface-variant: #46464F;
  --md-sys-color-on-surface-variant: #C6C5D0;

  --md-sys-color-outline: #90909A;
  --md-sys-color-outline-variant: #46464F;

  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;

  --md-sys-color-inverse-surface: #E3E1E9;
  --md-sys-color-inverse-on-surface: #303036;
  --md-sys-color-inverse-primary: #515B92;

  --md-sys-color-primary-fixed: #DEE1FF;
  --md-sys-color-on-primary-fixed: #0A164B;
  --md-sys-color-primary-fixed-dim: #BAC3FF;
  --md-sys-color-on-primary-fixed-variant: #394379;

  --md-sys-color-secondary-fixed: #DFE1F9;
  --md-sys-color-on-secondary-fixed: #171A2C;
  --md-sys-color-secondary-fixed-dim: #C3C5DD;
  --md-sys-color-on-secondary-fixed-variant: #434659;

  --md-sys-color-tertiary-fixed: #FFD7F2;
  --md-sys-color-on-tertiary-fixed: #2D1228;
  --md-sys-color-tertiary-fixed-dim: #E5BAD8;
  --md-sys-color-on-tertiary-fixed-variant: #5D3C55;

  --md-sys-color-surface-dim: #121318;
  --md-sys-color-surface-bright: #38393F;

  --md-sys-color-surface-container-lowest: #0D0E13;
  --md-sys-color-surface-container-low: #1B1B21;
  --md-sys-color-surface-container: #1F1F25;
  --md-sys-color-surface-container-high: #292A2F;
  --md-sys-color-surface-container-highest: #34343A;
}